version: '3.5'
services:
  fun4-frontend-dev:
    build: .
    environment:
      - TZ=Europe/Amsterdam
    image: fun4-frontend-dev
    expose:
      - 4052
    container_name: fun4-frontend-dev
    restart: always
    networks:
      - fun4-dev
      
networks:
  fun4-dev:
    external: true